<!-- resume.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Answer the Question</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap');
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: linear-gradient(to bottom, #000000, #434343);
            font-family: 'Libre Franklin', sans-serif;
            font-weight: 100;
            color: #ffffff;
            text-align: center;
            position: relative;
        }
        .question-text {
            font-size: 2em;
            margin-bottom: 40px;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .form-control {
            font-size: 1.2em;
            text-align: center;
        }
        .btn {
            margin: 20px;
            padding: 20px 30px;
            font-size: 1.2em;
            font-weight:900;
            text-transform: uppercase;
        }
        .disclaimer {
            position: absolute;
            bottom: 10px;
            left: 10px;
            font-size: 1em;
            opacity: 0.9;
        }
        .header--logo {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #ffffff;
            position: absolute;
            top: 20px;
            left: 20px;
        }
        .header--logo img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }
        .header--logo p {
            font-size: 1.5em;
            margin: 0;
        }
    </style>
</head>
<body>
    <div>
        <a class="header--logo" href="/">
            <img src="assets/img/logo.png" alt="Logo">
            <p>StopGap</p>
        </a>
        <h1 class="question-text">Answer the question to view my resume</h1>
        <form action="/review" method="post" class="form-group">
            <label for="answer" class="question-text">
                <%= question %>
            </label>
            <input type="text" id="answer" name="answer" class="form-control">
            <input type="submit" value="Submit" class="btn btn-light">
        </form>
        <p class="disclaimer">This is a privacy/security feature to prevent web scrapers.</p>
    </div>
</body>
</html>
